<h4>Acheivements</h4>

<span class="BabyStepsIcon badge" data-toggle="tooltip" data-placement="bottom" title="Answered your first question."></span>

<span class="bowling-turkey-hi badge" data-toggle="tooltip" data-placement="bottom" title="Answered correctly three in a row."></span>

<span class="s-50-percent badge" data-toggle="tooltip" data-placement="bottom" title="Mastered 50%"></span>

<span class="hundredpercent badge" data-toggle="tooltip" data-placement="bottom" title="Mastered 100%"></span>

<span class="target-icon badge" data-toggle="tooltip" data-placement="bottom" title="100% Accurate"></span>
