<br/><br/>
<h1>Welcome to the B.A.T. Team Motivational Quiz Game</h1>
<form role="form" {{action "join" on="submit"}}>
    <div class="form-group">
        <label for="name">Your Name:</label>
        {{input id="name" value=name}}
    </div>
    <div class="form-group">
        <label for="pwd">Your Team Name:</label>
        {{input id="team" value=team}}
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
<br/><br/>